@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1733322590349') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-test:before {
  content: "\e664";
}

.icon-shipin:before {
  content: "\eafb";
}

.icon-tongxunlu:before {
  content: "\e610";
}

.icon-xiaoshikuaixunpinghangsibianxing:before {
  content: "\e60a";
}

.icon-criminal-line:before {
  content: "\e79f";
}

.icon-a-7:before {
  content: "\e607";
}

.icon-a-5:before {
  content: "\e608";
}

.icon-a-8:before {
  content: "\e609";
}

.icon-gongzuotai:before {
  content: "\e601";
}

.icon-laohudatoutie:before {
  content: "\e71f";
}

.icon-xiongmaodatoutie:before {
  content: "\e729";
}

.icon-daxiangdatoutie:before {
  content: "\e72c";
}

.icon-gougoudatoutie:before {
  content: "\e72d";
}

