* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.w {
    height: 360px;
    width: 640px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.q {
    height: 400px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
        
}
.r {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.p {
    height: 40px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* .board {
    background-color: #4f4040;
} */

.box {
    position: fixed;
    width: 100%;
    
}
.wrap {
    /* position: fixed;
    width: 100%; */
    /* background-color: #fff; */
    height: 330px;

    width: 605px;
    border: 5px solid #c0daee;
    box-shadow: 1px 1px 20px 5px #cde8f5;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
}
.nav {
    /* position: fixed; */
    /* top: 0;
    left: 0; */
    /* width: 100%; */
    margin-left: 25px;
    margin-top: 25px;
}
a {
    float: left;
}
.welcome {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
.land {
    margin-left: 500px;
}
.select {
    height: 35px;
    width: 550px;
    margin-top: 70px;
    margin-left: 20px;
    background-color: #e8f8f8;
    display: flex;
    text-decoration: none;
}
/* .sub-nav {
    display: flex;
} */
ul {
    text-decoration: none;
}
.select li {
    flex: 1;
    text-align: center;
    /* justify-content: center;
    flex-direction: column;
    align-items: center; */
}
.select  li a {
    text-decoration: none;
    text-align: center;
    line-height: 35px;
    margin-left: 35px;
    color: #000;
}
.email {
    /* position: fixed;
    width: 100%; */
    margin-top: 160px;
    margin-left: 30px;
}
.tongxunlu {
    float: left;
    margin-top: -20px;
    margin-left: 500px;
}
.shipin {
    float: left;
    margin-top: -20px;
    margin-left: 530px;
}
.box3 {
    width: 4000px;
    height: 480px;
    margin-top: -300px;
    /* margin-left: 400px; */
    /* background-color: #ffffff; */
}
.list {
    /* background-color: #ddcbcb; */
    position: fixed;
    margin-top: 85px;
    margin-left: 0px;
    height: 100px;
    width: 600px;
    display: flex;
        
}
.left {
    flex: 2;
    /* background-color: rgb(255, 255, 255); */
    margin-top: -20px;
    margin-left: 10px;
    
    height: 60px;
    display: flex;
    flex-direction: column;
}
.left :nth-child(1) {
    border-bottom: 10px solid #ffffff;
}
.left :nth-child(1) i {
    margin-top: 10px;
    margin-left: 30px;
    border-bottom: 10px solid #bce6ed00;
}
.left :nth-child(2) i {
    margin-top: 10px;
    margin-left: 30px;
    border-bottom: 10px solid #bce6ed00;
}
.items1 {
    flex: 1;
    background-color: #bce6ed77;
}

.items2 {
    flex: 1;
    background-color: #bce6ed77;
}

.right {
    flex: 2;
    margin-left: -45px;
}

.scrollable-list {
    margin-left: 60px;
    background-color: #ffffff;
    margin-top: -20px;
    margin-right: 30px;
    padding-top: 0px;
    width: 450px;
    height: 80px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.scrollable-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.scrollable-list li {
    padding: 10px 10px;
}
.scrollable-list::-webkit-scrollbar {
    display: none;
}
.email1 {
    float: left;
    width: 450px;
    height: 60px;
    background:linear-gradient(to right, rgba(195, 250, 255, 0.621) , rgb(255, 255, 255));
    box-shadow: 1px 1px 20px 5px #d5d7d88e;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
ul {
    width: 500px;
}
ul li {
    width: 500px;
}
ul li span a {
    text-decoration: none;
}
.scrollable-list li span a {
    text-decoration: none;
    color: #000;
}
.logo1 {
    float: left;
    margin-top: 5px;
}
h5 {
    margin-left: 50px;
    margin-top: 15px;
    font-size: 10px;
}
h6 {
    float: left;
    font-size: 10px;
    margin-top: -10px;
    margin-left: 200px;
}
span {
    float: left;
    color: #000;
    font-size: 10px;
    margin-top: -10px;
    margin-left: 40px;
}

.email2 {
    margin-top: 10px;
    float: left;
    width: 450px;
    height: 60px;
    background-color: #ffffff;
    background: linear-gradient(to right, rgba(195, 250, 255, 0.621), rgb(255, 255, 255));
    box-shadow: 6px 1px 20px 5px #d5d7d88e;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.email3 {
    margin-top: 10px;
    float: left;
    width: 450px;
    height: 60px;
    background-color: #ffffff;
    background: linear-gradient(to right, rgba(195, 250, 255, 0.621), rgb(255, 255, 255));
    box-shadow: 6px 1px 20px 2px #d5d7d88e;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.write {
    margin-left: 270px;
    margin-top: 20px;
    height: 20px;
    width: 40px;
    background-color: #6fdbcf;
    font-size: 10px;
    text-align: center;
    color: #000;
}
.write a {
    text-decoration: none;
    color: #000;
    margin-left:4px;
    margin-top: 2px;
    text-align: center;
}
.end {
    margin-top: 140px;
    /* margin-left: 50px; */
    height: 30px;
    width: 600px;
    position: fixed;
}
